<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Staatliches&display=swap" rel="stylesheet" />
    <link href="./css/main.css" rel="stylesheet" />
    <title>Document</title>
</head>

<body>
    <div class="v2_379"><span class="v2_380">You've Got Murder</span>
        <div class="v2_381">
            <div class="v2_382"><span class="v2_383">10/25/2019 </span></div>
            <div class="v2_384"><span class="v2_385">Comedy, Crime</span></div>
            <div class="v2_386"><span class="v2_387">1h 52m</span></div>
        </div>
        <div class="v2_391">
            <div class="v2_392"></div><span class="v2_393">Another Suggestion</span>
        </div>
        <div class="v2_394"><span class="v2_395">7.0/10</span>
            <div class="v2_396">
                <div class="v2_397">
                    <div class="v2_398"></div>
                </div>
                <div class="v2_399">
                    <div class="v2_400"></div>
                    <div class="v2_401"></div>
                    <div class="v2_402"></div>
                    <div class="v2_403"></div>
                </div>
            </div>
        </div>
        <div class="v2_404"><span class="v2_405">Istanbul Police Department homicide detectives encounter a murder
                nothing like they’ve seen before.Commissioners Emin, Salih, Asuman and deputy Alaattin begin
                investigating.But strange murders keep happening. They don’t have any evidence or any clues. Day by day,
                tempers flare and the police chiefs grow annoyed.As the murders keep piling up, the public’s interest
                rises. The pressure on Emin and his colleagues get intense. At last, the chief of police assigns “crime
                expert” Dizdar Koşu, who has recently come back from the US, to the team.Overwhelmed with panic,
                pressure and disdain, Emin and his friends try to solve the strangest series of murders with the most
                unusual methods.This fast race against time immediately turns into a tragicomedy.</span><span
                class="v2_406">Overview</span></div>
        <div class="v2_407">
            <div class="v2_408"></div>
            <div class="v2_409">
                <div class="v2_410"></div>
                <div class="v2_411">
                    <div class="v2_412"></div><span class="v2_413">Now Streaming
                        Watch Now</span>
                </div>
            </div>
        </div>
        <div class="v2_421">
            <div class="v2_422"><span class="v2_423">Director, Writer</span><span class="v2_424">Ali Atay</span></div>
            <div class="v2_425"><span class="v2_426">Aziz Kedi</span><span class="v2_427">Writer</span></div>
            <div class="v2_428"><span class="v2_429">Writer</span><span class="v2_430">Feyyaz Yiğit</span></div>
        </div>
        <div class="name"></div>
        <div class="v2_432">
            <div class="v2_433">
                <div class="v2_434"></div>
                <div class="v2_435"><span class="v2_436">Uğur Yücel</span><span class="v2_437">Başkomiser Emin</span>
                </div>
            </div>
            <div class="v2_438">
                <div class="v2_439"><span class="v2_440">Komiser Asuman</span><span class="v2_441">Binnur Kaya</span>
                </div>
                <div class="v2_442"></div>
            </div>
            <div class="v2_443">
                <div class="v2_444"><span class="v2_445">Komiser Salih</span><span class="v2_446">Cengiz Bozkurt</span>
                </div>
                <div class="v2_447"></div>
            </div>
            <div class="v2_448">
                <div class="v2_449"><span class="v2_450">Suç Uzmanı Dizdar Koşu</span><span class="v2_451">Feyyaz
                        Yiğit</span></div>
                <div class="v2_452"></div>
            </div>
        </div><span class="v2_456">EXPLORE</span><span class="v2_457">TOP RATED</span><span class="v2_458">All</span>
    </div>
</body>

</html>