alembic==1.5.8
aniso8601==9.0.1
beautifulsoup4==4.9.3
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
datashape==0.5.2
decorator==4.4.2
dnspython==2.1.0
email-validator==1.1.2
Flask==1.1.2
Flask-Migrate==2.7.0
flask-mongoengine==1.0.0
Flask-RESTful==0.3.8
Flask-WTF==0.14.3
fsspec==0.8.7
greenlet==1.0.0
gunicorn==20.1.0
idna==2.10
IMDbPY @ git+https://github.com/alberanid/imdbpy@111cc965d078b40b58ac802b88875290d37084f8
itsdangerous==1.1.0
Jinja2==2.11.3
joblib==1.0.1
lxml==4.6.3
Mako==1.1.4
MarkupSafe==1.1.1
MongoAlchemy==0.19
mongoengine==0.23.0
multipledispatch==0.6.0
networkx==2.5
numpy==1.20.1
odo==0.5.0
pandas==1.2.3
pymongo==3.11.3
PyQtWebEngine==5.12
python-dateutil==2.8.1
python-editor==1.0.4
pytz==2021.1
requests==2.25.1
scikit-learn==0.24.1
scipy==1.6.2
six==1.15.0
sklearn==0.0
soupsieve==2.2.1
SQLAlchemy==1.4.2
threadpoolctl==2.1.0
toolz==0.11.1
tqdm==4.59.0
urllib3==1.26.4
Werkzeug==1.0.1
wincertstore==0.2
WTForms==2.3.3
