<html>
{% extends 'base.html' %}

{% block title  %}
영화 추천 페이지
{% endblock  %}

{% block lead  %}
추천을 받고 싶은 영화의 제목을 입력하세요
{% endblock  %}

{% block main_body  %}
<form method="GET" action="/recomtest">
    <label for="inputlg">입력한 영화의 키워드 / 장르 / 배우 / 감독 / 수상이력을 분석해 추천합니다. </label>
    <input name="movie" class="form-control input-lg" id="inputlg" type="text" value="ex) Frozen, Thelma & Louise">
    <br>
    <input type="submit" class="btn btn-primary btn-sm btn-block" value="추천받기"/>
    {% if movieinfo %}
    <br>
    <h3> {{movieinfo.Title}} 과 유사한 영화는 </h3>
    <br>
    {% for item in movielist %}
    <h5>{{ item }}</h5>
    {% endfor %}
    <h5>입니다.</h5>
</form>
{% endif %}
{% endblock %}
</html>